@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0B0B;
  --foreground: #EDEDED;
  --secondary: #9A9A9A;
  --accent: #FFFFFF;
  --divider: #1F1F1F;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Lenis Recommended CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}